film.width = 640
film.height = 480
image.filename = scenes/bump/bump-proc.png
##
#path.clamping.variance.maxvalue = 1
##
#path.photongi.sampler.type = RANDOM
#path.photongi.sampler.type = METROPOLIS
path.photongi.photon.maxcount = 10000000
path.photongi.photon.maxdepth = 4
##
path.photongi.indirect.enabled = 1
path.photongi.indirect.maxsize = 0
#path.photongi.indirect.haltthreshold = 0.05
#path.photongi.indirect.lookup.radius = 0.15
path.photongi.indirect.lookup.radius = 0.0
#path.photongi.indirect.glossinessusagethreshold = 0.0
#path.photongi.indirect.usagethresholdscale = 0.0
#path.photongi.indirect.filter.radiusscale = 4.0
##
path.photongi.caustic.enabled = 0
path.photongi.caustic.maxsize = 10000
path.photongi.caustic.lookup.radius = 0.15
#path.photongi.debug.type = showindirect
#path.photongi.debug.type = showcaustic
#path.photongi.debug.type = showindirectpathmix
##
batch.halttime = 0
batch.haltspp = 0
scene.file = scenes/bump/bump-proc.scn
opencl.cpu.use = 1
opencl.gpu.use = 1
#opencl.platform.index = 0
opencl.gpu.workgroup.size = 64
screen.refresh.interval = 100
path.maxdepth = 5
path.russianroulette.depth = 5
# Film image pipeline plug-ins
film.imagepipeline.0.type = TONEMAP_LINEAR
film.imagepipeline.1.type = GAMMA_CORRECTION
film.imagepipeline.1.value = 2.2
