film.gamma = 2.2
film.tonemap.linear.scale = 1.
film.tonemap.type = 0
image.filename = psor-cube-vm.png
image.height = 480
image.width = 640
opencl.cpu.use = 1
opencl.gpu.use = 1
opencl.gpu.workgroup.size = 64
#opencl.platform.index = 0
scene.file = scenes/psor-cube/psor-cube-vm.scn
screen.refresh.interval = 100
renderengine.type = BIDIRVMCPU
sampler.type = METROPOLIS
bidirvm.lightpath.count = 32000
bidirvm.startradius.scale = 0.005
bidirvm.alpha = 0.95