doxygen/luxrays.template
doxygen/slg.template
doxygen/luxcore.template
doxygen-luxrays.conf
doxygen-slg.conf
doxygen-luxcore.conf
bin/
doc/
generated/
lib/
nbproject/
deps/perceptualdiff-master/libpdiff.a
samples/(benchsimple|smallluxgpu)/(Debug|Release)/
samples/luxcoreui/deps/glfw-3.1.1/src/glfw_config.h
(smallluxgpu|slg|LUXRAYS|benchsimple)\.dir
src/(Debug|Release)/
(Debug|Release|x64)/
scenes/strands/*.hair
scenes/media/*.vdb
pyunittests/images/*.png
pyunittests/referenceimages/*.png
pyunittests/totaltestsdone.txt
*~
*CMakeFiles
*CMakeCache.txt
*Makefile
*cmake_install.cmake
moc_*.cxx
moc_*.cxx_parameters
ui_*.h
qrc_*.cxx
*.sdf
*.vcxproj*
build
compile_commands.json
dist
samples/pyluxcoretool/__pycache__

###########################
# XCode

*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
*.user

# XCode 4
xcuserdata/
*.xcworkspace
*.xccheckout
macos/
###########################
# OS OSX, junk
.DS_Store
*.swp
*~.nib
*.out
._*

###########################
# Emacs files
TAGS
.dir-locals.el
build_lux_osx.sh
pack_lux_osx_2.sh
MacDistFiles.tar.gz
