doxygen/luxrays.template
doxygen/slg.template
doxygen/luxcore.template
bin/
doc/
lib/
nbproject/
samples/(benchsimple|smallluxgpu)/(Debug|Release)/
samples/luxcoreui/deps/glfw-3.1.1/src/glfw_config.h
(smallluxgpu|slg|LUXRAYS|benchsimple)\.dir
src/(Debug|Release)/
(Debug|Release|x64)/
scenes/strands/*.hair
pyunittests/images/*.png
pyunittests/referenceimages/*.png
*~
*CMakeFiles
*CMakeCache.txt
*Makefile
*cmake_install.cmake
moc_*.cxx
moc_*.cxx_parameters
ui_*.h
qrc_*.cxx
*.sdf
*.vcxproj*
build
compile_commands.json

###########################
# XCode

*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
*.user

# XCode 4
xcuserdata/
*.xcworkspace
*.xccheckout

###########################
# OS OSX, junk
.DS_Store
*.swp
*~.nib
*.out
._*
