film.width = 1024
film.height = 768
scene.file = scenes/sky/sky2-glass.scn
opencl.cpu.use = 1
opencl.gpu.use = 1
film.gamma = 2.2
screen.refresh.interval = 100
path.maxdepth = 12
path.russianroulette.depth = 5
#path.clamping.variance.maxvalue = 8
# Film image pipeline plug-ins
film.imagepipelines.0.0.type = TONEMAP_LINEAR
film.imagepipelines.0.0.scale = 0.000035
film.imagepipelines.0.1.type = GAMMA_CORRECTION
film.imagepipelines.0.1.value = 2.2
##
film.outputs.1.type = RGB_IMAGEPIPELINE
film.outputs.1.index = 0
film.outputs.1.filename = normal.png
film.outputs.2.type = ALPHA
film.outputs.2.index = 0
film.outputs.2.filename = alpha.png
