film.width = 1024
film.height = 768
image.filename = test-simplify2.png
batch.halttime = 0
batch.haltspp = 0
scene.file = test-simplify2.scn
screen.refresh.interval = 100
path.pathdepth.total = 5
path.russianroulette.depth = 5
# Film image pipeline plug-ins
film.imagepipeline.0.type = TONEMAP_LINEAR
film.imagepipeline.1.type = GAMMA_CORRECTION
film.imagepipeline.1.value = 2.2
