image.width = 640
image.height = 480
# Use a value > 0 to enable batch mode
batch.halttime = 0
scene.file = scenes/simple-mat/simple-mat.scn
scene.fieldofview = 45
opencl.latency.mode = 1
opencl.nativethread.count = 2
opencl.cpu.use = 0
opencl.gpu.use = 1
# Select the OpenCL platform to use (0=first platform available, 1=second, etc.)
opencl.platform.index = 0
# The string select the OpenCL devices to use (i.e. first "0" disable the first
# device, second "1" enable the second).
#opencl.devices.select = 10
# This value select the number of threads to use for keeping
# each OpenCL devices busy
#opencl.renderthread.count = 2
# Use a value of 0 to enable default value
opencl.gpu.workgroup.size = 64
screen.refresh.interval = 100
# Select the Film type:
#  0 => Standard Film version
#  1 => New Film with blured preview
#  2 => New Film with Gaussian filter
#  3 => New Film with Gaussian filter with fast preview
screen.type = 3
path.maxdepth = 8
path.russianroulette.depth = 5
path.russianroulette.prob = 0.75
path.shadowrays = 1
