################################################################################
# LuxCoreRender v2.5beta1 2021/02/18 0be225772cddcc30bb7e34ad41b2d5f533618ebb
#
# 82 secs total:
#   [LuxCore][82.654] [GammaCorrectionPlugin] Kernels compilation time: 0ms
#
# 32secs parsing:
#   [SDL][32.150] Scene objects count: 4502
#
# 35secs light preprocessing:
#   [LuxRays][44.227] EmbreeAccel build time: 9ms
#   [LuxCore][52.774] Light step #1 preprocessing time: 8.54706secs
#   [LuxCore][54.918] Light step #2 preprocessing time: 2.14381secs
#   [LuxCore][74.839] Light step #3 preprocessing time: 19.9207secs
#   [LuxCore][74.839] Light step #4 preprocessing time: 3.69549e-05secs
#   [LuxCore][80.045] Light step #5 preprocessing time: 5.20684secs
#   [LuxCore][80.045] Light total preprocessing time: 35.8185secs
################################################################################
# Introduced robin_hood::unordered_flat_map 2021/02/19
#
# 19secs parsing:
#   [SDL][19.744] Scene objects count: 4502
################################################################################
# Using Scene::EncodeTriangleLightNamePrefix() 2021/02/19
#
# 15secs parsing:
#   [SDL][15.249] Scene objects count: 4502
#
# 16secs light preprocessing:
#   [LuxRays][16.024] EmbreeAccel build time: 9ms
#   [LuxCore][19.819] Light step #1 preprocessing time: 3.79506secs
#   [LuxCore][21.233] Light step #2 preprocessing time: 1.41389secs
#   [LuxCore][26.683] Light step #3 preprocessing time: 5.44991secs
#   [LuxCore][26.683] Light step #4 preprocessing time: 3.00407e-05secs
#   [LuxCore][32.375] Light step #5 preprocessing time: 5.69201secs
#   [LuxCore][32.375] Light total preprocessing time: 16.3509secs
################################################################################
# Optimized ToString() 2021/02/19
#
# 10secs parsing:
#   [SDL][10.546] Scene objects count: 4502
################################################################################
# Partial multi-thread support in LightSourceDefinitions::Preprocess() 2021/02/22
#
#
# 8secs light preprocessing:
#   [LuxRays][16.892] EmbreeAccel build time: 19ms
#   [LuxCore][20.773] Light step #1 preprocessing time: 3.88031secs
#   [LuxCore][22.160] Light step #2 preprocessing time: 1.3868secs
#   [LuxCore][22.716] Light step #3 preprocessing time: 0.556359secs
#   [LuxCore][22.716] Light step #4 preprocessing time: 3.48091e-05secs
#   [LuxCore][25.295] Light step #5 preprocessing time: 2.57913secs
#   [LuxCore][25.295] Light total preprocessing time: 8.40269secs
################################################################################

light.maxdepth = 10
path.maxdepth = 10
sampler.metropolis.largesteprate = 0.4
sampler.metropolis.maxconsecutivereject = 512
sampler.metropolis.imagemutationrate = 0.1
renderengine.type = "BIDIRCPU"
sampler.type = "METROPOLIS"
film.width = 960
film.height = 540
film.filter.type = "BLACKMANHARRIS"
film.filter.width = 1.5
lightstrategy.type = "LOG_POWER"
scene.epsilon.min = 1e-05
scene.epsilon.max = 0.1
film.opencl.enable = 1
film.opencl.device = 3
path.forceblackbackground.enable = 0
filesaver.format = "TXT"
filesaver.renderengine.type = "BIDIRCPU"
renderengine.seed = 1
batch.haltspp = 0 0
batch.halttime = 0
film.imagepipelines.000.0.type = "NOP"
film.imagepipelines.000.1.type = "TONEMAP_LINEAR"
film.imagepipelines.000.1.scale = 1
film.imagepipelines.000.2.type = "GAMMA_CORRECTION"
film.imagepipelines.000.2.value = 2.2
film.imagepipelines.000.radiancescales.0.enabled = 1
film.imagepipelines.000.radiancescales.0.globalscale = 1
film.imagepipelines.000.radiancescales.0.rgbscale = 1 1 1
film.outputs.0.type = "RGB_IMAGEPIPELINE"
film.outputs.0.index = 0
film.outputs.0.filename = "RGB_IMAGEPIPELINE_0.png"
scene.file = "scene.scn"
