image.width = 640
image.height = 480
# Use a value > 0 to enable batch mode
batch.halttime = 0
scene.file = scenes/luxball/luxball-hdr.scn
opencl.cpu.use = 0
opencl.gpu.use = 1
# Select the OpenCL platform to use (0=first platform available, 1=second, etc.)
#opencl.platform.index = 0
# The string select the OpenCL devices to use (i.e. first "0" disable the first
# device, second "1" enable the second).
#opencl.devices.select = 10
# Use a value of 0 to enable default value
opencl.gpu.workgroup.size = 64
screen.refresh.interval = 100
path.maxdepth = 8
path.russianroulette.depth = 5
# Film channels
film.channels.ALPHA.enable = 1
film.channels.DEPTH.enable = 1
film.channels.POSITION.enable = 1
film.channels.GEOMETRY_NORMAL.enable = 1
film.channels.SHADING_NORMAL.enable = 1
# Film outputs
film.outputs.1.type = RGB
film.outputs.1.filename = luxball_RGB.exr
film.outputs.2.type = RGB_TONEMAPPED
film.outputs.2.filename = luxball_RGB_TONEMAPPED.png
film.outputs.3.type = RGB_TONEMAPPED
film.outputs.3.filename = luxball_RGB_TONEMAPPED.exr
film.outputs.4.type = ALPHA
film.outputs.4.filename = luxball_ALPHA.png
film.outputs.5.type = ALPHA
film.outputs.5.filename = luxball_ALPHA.exr
film.outputs.6.type = DEPTH
film.outputs.6.filename = luxball_DEPTH.exr
film.outputs.7.type = POSITION
film.outputs.7.filename = luxball_POSITION.exr
film.outputs.8.type = GEOMETRY_NORMAL
film.outputs.8.filename = luxball_GEOMETRY_NORMAL.exr
film.outputs.9.type = SHADING_NORMAL
film.outputs.9.filename = luxball_SHADING_NORMAL.exr
