path.pathdepth.total = 7
path.pathdepth.diffuse = 5
path.pathdepth.glossy = 5
path.pathdepth.specular = 6
path.hybridbackforward.enable = 0
path.hybridbackforward.partition = 0.8
path.hybridbackforward.glossinessthreshold = 0.049
film.noiseestimation.warmup = 8
film.noiseestimation.step = 32
sampler.sobol.adaptive.strength = 0.9
sampler.sobol.bucketsize = 16
sampler.sobol.tilesize = 16
sampler.sobol.supersampling = 1
sampler.sobol.overlapping = 1
renderengine.type = "PATHCPU"
sampler.type = "SOBOL"
film.width = 1920
film.height = 1080
film.filter.type = "NONE"
film.filter.width = 1.5
lightstrategy.type = "LOG_POWER"
scene.epsilon.min = 1e-05
scene.epsilon.max = 0.1
film.opencl.enable = 1
film.opencl.device = 3
path.forceblackbackground.enable = 0
filesaver.format = "TXT"
filesaver.renderengine.type = "PATHCPU"
renderengine.seed = 1
batch.haltspp = 0 0
batch.halttime = 0
film.imagepipelines.000.0.type = "NOP"
film.imagepipelines.000.1.type = "TONEMAP_LINEAR"
film.imagepipelines.000.1.scale = 1
film.imagepipelines.000.2.type = "GAMMA_CORRECTION"
film.imagepipelines.000.2.value = 2.2
film.imagepipelines.000.radiancescales.0.enabled = 1
film.imagepipelines.000.radiancescales.0.globalscale = 1
film.imagepipelines.000.radiancescales.0.rgbscale = 1 1 1
film.outputs.0.type = "RGB_IMAGEPIPELINE"
film.outputs.0.index = 0
film.outputs.0.filename = "RGB_IMAGEPIPELINE_0.png"
scene.file = "scene.scn"
################################################################################
# NONE example
##
#scene.images.resizepolicy.type = NONE
################################################################################
# FIXED example
##
#scene.images.resizepolicy.type = FIXED
#scene.images.resizepolicy.scale = 0.5
#scene.images.resizepolicy.minsize = 64
################################################################################
# MINMEM example
##
scene.images.resizepolicy.type = MIPMAPMEM
scene.images.resizepolicy.scale = 1.0
scene.images.resizepolicy.minsize = 64
