renderengine.type = PATHOCL
sampler.type = METROPOLIS
film.width = 512
film.height = 512
image.filename = scenes/cornell/cornell-spectral-area.png
batch.halttime = 0
batch.haltspp = 0
scene.file = scenes/cornell/cornell-spectral-area.scn
opencl.cpu.use = 1
opencl.gpu.use = 1
#opencl.platform.index = 0
opencl.gpu.workgroup.size = 64
#screen.refresh.interval = 5000
screen.refresh.interval = 100
path.pathdepth.total = 8
path.pathdepth.diffuse = 4
path.pathdepth.glossy = 8
path.pathdepth.specular = 8
path.russianroulette.depth = 10
path.clamping.variance.maxvalue = 100
film.imagepipeline.0.type = TONEMAP_LINEAR
film.imagepipeline.1.type = GAMMA_CORRECTION
film.imagepipeline.1.value = 2.2
