path.pathdepth.total = 7
path.pathdepth.diffuse = 5
path.pathdepth.glossy = 5
path.pathdepth.specular = 6
path.hybridbackforward.enable = 0
path.hybridbackforward.partition = 0.80000000000000004
path.hybridbackforward.glossinessthreshold = 0.048999998718500137
path.clamping.variance.maxvalue = 10
film.noiseestimation.warmup = 8
film.noiseestimation.step = 32
sampler.sobol.adaptive.strength = 0.89999997615814209
sampler.sobol.bucketsize = 16
sampler.sobol.tilesize = 16
sampler.sobol.supersampling = 1
sampler.sobol.overlapping = 1
renderengine.type = "PATHCPU"
sampler.type = "SOBOL"
#film.width = 960
#film.height = 540
film.width = 1920
film.height = 1080
film.filter.type = "BLACKMANHARRIS"
film.filter.width = 1.5
lightstrategy.type = "LOG_POWER"
scene.epsilon.min = 9.9999997473787516e-06
scene.epsilon.max = 0.10000000149011612
film.opencl.enable = 1
film.opencl.device = 1
path.forceblackbackground.enable = 0
filesaver.format = "TXT"
filesaver.renderengine.type = "PATHCPU"
renderengine.seed = 1
batch.haltspp = 0
batch.halttime = 0
film.imagepipelines.000.0.type = "NOP"
film.imagepipelines.000.1.type = "TONEMAP_LINEAR"
film.imagepipelines.000.1.scale = 1
film.imagepipelines.000.2.type = "GAMMA_CORRECTION"
film.imagepipelines.000.2.value = 2.2000000000000002
#film.imagepipelines.000.3.type = COLOR_ABERRATION
#film.imagepipelines.000.3.amount = 0.025 0.005
film.imagepipelines.000.radiancescales.0.enabled = 1
film.imagepipelines.000.radiancescales.0.globalscale = 1
film.imagepipelines.000.radiancescales.0.rgbscale = 1 1 1
film.outputs.0.type = "RGB_IMAGEPIPELINE"
film.outputs.0.index = 0
film.outputs.0.filename = "RGB_IMAGEPIPELINE_0.png"
scene.file = "scene.scn"
