film.width = 1900
film.height = 1200
# Use a value > 0 to enable batch mode
batch.halttime = 0
scene.file = scenes/classroom/classroom.scn
opencl.cpu.use = 1
opencl.gpu.use = 1
# Select the OpenCL platform to use (0=first platform available, 1=second, etc.)
#opencl.platform.index = 0
# The string select the OpenCL devices to use (i.e. first "0" disable the first
# device, second "1" enable the second).
#opencl.devices.select = 10
# This value select the number of threads to use for keeping
# each OpenCL devices busy
#opencl.renderthread.count = 2
# Use a value of 0 to enable default value
opencl.gpu.workgroup.size = 64
screen.refresh.interval = 100
path.maxdepth = 8
path.russianroulette.depth = 4
#BIASPATH settings
tile.multipass.enable = 1
tile.multipass.convergencetest.threshold = 0.02
#tile.multipass.convergencetest.threshold.reduction = 0.5
#screen.tiles.converged.show = 1
#screen.tiles.passcount.show = 1
#screen.tiles.notconverged.show = 1
biaspath.sampling.aa.size = 3
biaspath.sampling.diffuse.size = 3
biaspath.sampling.glossy.size = 2
biaspath.sampling.specular.size = 2
biaspath.sampling.directlight.size = 3
biaspath.pathdepth.diffuse = 3
biaspath.pathdepth.glossy = 1
biaspath.pathdepth.specular = 4
#film.filter.type = GAUSSIAN
#film.filter.gaussian.alpha = 1.0
#film.filter.width = 2

## Image pipelines
# Pipeline 0: standard render output
film.imagepipelines.0.0.type = TONEMAP_AUTOLINEAR
film.imagepipelines.0.1.type = GAMMA_CORRECTION
film.imagepipelines.0.1.value = 2.2

# Pipeline 1: Intel OIDN denoised output
film.imagepipelines.1.0.type = INTEL_OIDN
film.imagepipelines.1.0.filter.enable = 1
film.imagepipelines.1.1.type = TONEMAP_AUTOLINEAR
film.imagepipelines.1.2.type = GAMMA_CORRECTION
film.imagepipelines.1.2.value = 2.2

## Film outputs
film.outputs.0.type = RGB_IMAGEPIPELINE
film.outputs.0.index = 0
film.outputs.0.filename = classroom_beauty.png

film.outputs.1.type = RGB_IMAGEPIPELINE
film.outputs.1.index = 1
film.outputs.1.filename = classroom_denoised.png

## AOVs needed by OIDN for best quality
film.outputs.2.type = ALBEDO
film.outputs.2.filename = classroom_albedo.png

film.outputs.3.type = AVG_SHADING_NORMAL
film.outputs.3.filename = classroom_normal.exr
