film.width = 640
film.height = 480
scene.file = scenes/luxball/luxball-shadowcatcher.scn
sampler.type = SOBOL
path.clamping.variance.maxvalue = 10
# Film outputs
# Alpha channel is required by BACKGROUND_IMG
film.outputs.0.type = ALPHA
film.outputs.0.filename = luxball_ALPHA.png
#film.outputs.1.type = DIRECT_SHADOW_MASK
#film.outputs.1.filename = luxball_DIRECT_SHADOW_MASK.png
# Film image pipeline plug-ins
#film.imagepipeline.0.type = TONEMAP_LINEAR
#film.imagepipeline.0.scale = 1
film.imagepipeline.0.type = TONEMAP_REINHARD02
film.imagepipeline.0.prescale = 1
film.imagepipeline.0.postscale = 0.6
film.imagepipeline.0.burn = 3.75
film.imagepipeline.1.type = GAMMA_CORRECTION
film.imagepipeline.1.value = 2.2
